streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-core
pdfplumber
sentence-transformers
chromadb
rank_bm25
flashrank
ragas
datasets
fastapi
uvicorn
